

<div class="row">
  <div class="col-xs-3 panel panel-default">
    <div class="panel-body">
      <div class="row">
        <% if @user.avatar_file_name != nil %>
        <%= image_tag(@user.avatar.url(:medium), class: "img-responsive") %>
        <% end %>
          <h3><%= @user.name %></h3>
            <h5><%= @user.username %></h5>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <span class="small text">Game Nights!</span><br>
            <%= @user.events.count %>

        </div>
      </div>
     <h5><p>Birthday: <%= @user.birthday %></p></h5> 
     <h5>Zip code: <%= @user.location %></h5>
     <h5>Joined on <%= @user.created_at.strftime("%B %Y") %></h5>
     <br>
     <br>
    
    </div>
  </div>
  <div class="col-xs-1"></div>



  
</div>

