<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this game night from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="cant-see-me">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, value: current_user.id %>
  </div>

   <div class="field form-group">
    <%= f.label "Name of your event" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
   <div class="field form-group">
    <%= f.label :game %><br>
    <%= f.text_field :game, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :time %><br>
    <%= f.time_field :time, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :snacks %><br>
    <%= f.text_field :snacks, class: "form-control" %>
  </div>
   <div class="field form-group">
    <%= f.label :variation %><br>
    <%= f.text_field :variation, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :teach %><br>
    <%= f.text_field :teach, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label "Tell other players about your Gamenight" %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div>
    <%= f.label :icon %><br>
    <%= f.select :icon, ['Board Game', 'Card', 'Role Playing', 'Table Top', 'Phoenix', 'Pirate', 'Racing Flags', 'Radio Active', 'Builder', 'UFO', 'Viking'] %>
  </div>
  <br>
  
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

