<p id="notice"><%= notice %></p>

<a  name="gamenight"></a>
<div class="container-fluid">
<br>
    <div class="port-header"><h2>Gamenights!</h2></div>
    <br>
    <div class="row">

      <% @e.each do |event| %> 
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <% if event.icon == "Board Game" %>
              <%= image_tag('board-game-icon.png') %>
            <% elsif event.icon == "Card" %>
              <%= image_tag('card-icon.png') %>
            <% elsif event.icon == "Role Playing" %>
              <%= image_tag('rpg-icon.png') %>
            <% elsif event.icon == "Table Top" %>
              <%= image_tag('tabletop-icon.png') %>
            <% elsif event.icon == "Phoenix" %>
              <%= image_tag('phoenix.png') %>
            <% elsif event.icon == "Pirate" %>
              <%= image_tag('pirate.png') %>
            <% elsif event.icon == "Racing Flags" %>
              <%= image_tag('raceflag.png') %>
            <% elsif event.icon == "Radio Active" %>
              <%= image_tag('radioactive.png') %>
            <% elsif event.icon == "Builder" %>
              <%= image_tag('tool.png') %>
            <% elsif event.icon == "UFO" %>
              <%= image_tag('ufo.png') %>
            <% elsif event.icon == "Viking" %>
              <%= image_tag('viking.png') %>
            <% end %>
            <div class="caption">
              <h3><%= event.title %></h3>
               <p class="lead"><%= event.game %></p>
                          <p><ul>
                            <p><%= event.description[0...256] %>...
                                <%= link_to "Read More", event %>
                            </p><br>
                              <p><strong>Location:</strong> <%= event.location %></p>
                              <p><strong>When:</strong> <%= event.time %></p>
                              
                          </ul></p>
              <p><%= button_to 'More Event Info', event, method: :get, class: 'btn btn-default' %></p>
            </div>
          </div>
        </div>
      <% end %>

       
    </div>
</div>

<br>

<%= button_to 'New Event', new_event_path, method: :get, class: 'btn btn-default' %>