
<p id="notice"><%= notice %></p>


        <div class="container">

            <div class="row">
             
              
                <center><div class="col-md-7">



                    <% if @event.icon == "Board Game" %>
                      <%= image_tag('board-game-icon.png') %>
                    <% elsif @event.icon == "Card" %>
                      <%= image_tag('card-icon.png') %>
                    <% elsif @event.icon == "Role Playing" %>
                      <%= image_tag('rpg-icon.png') %>
                    <% elsif @event.icon == "Table Top" %>
                      <%= image_tag('tabletop-icon.png') %>
                    <% elsif @event.icon == "Phoenix" %>
                      <%= image_tag('phoenix.png') %>
                    <% elsif @event.icon == "Pirate" %>
                      <%= image_tag('pirate.png') %>
                    <% elsif @event.icon == "Racing Flags" %>
                      <%= image_tag('raceflag.png') %>
                    <% elsif @event.icon == "Radio Active" %>
                      <%= image_tag('radioactive.png') %>
                    <% elsif @event.icon == "Builder" %>
                      <%= image_tag('tool.png') %>
                    <% elsif @event.icon == "UFO" %>
                      <%= image_tag('ufo.png') %>
                    <% elsif @event.icon == "Viking" %>
                      <%= image_tag('viking.png') %>
                    <% end %>
                    
                </div></center>

               

                <div class="col-md-5">

                <% event_time = @event.time.to_s %>
                <% event_time = event_time.reverse %>
                <% j = 0 %>
                
                <% while j < 11  do %>
                  <% event_time = event_time.chop %>
                  <% j += 1 %>
                <% end %>
                
                <% event_time = event_time.reverse %>

                <% num_attending = 0 %>
                <% @event.attendings.each do |attend|%>
                  <% num_attending += 1%>
                <% end %>

               
                
                    <h2 class="section-heading"><%= @event.title %></h2>
                    <p><strong>Game: </strong><%= @event.game %></p>
                    <p><strong>Location: </strong><%= @event.location %></p>
                    <p><strong>Date: </strong><%= @event.date %></p>
                    <p><strong>Time: </strong> <%= event_time %></p>
                    <p><strong>Number of Players: </strong><%= num_attending %> out of <%= @event.players %></p>

                    <p><strong>Snacks: </strong><%= @event.snacks %></p>
                    <p><strong>Variations?: </strong><%= @event.variation %></p>
                    <p><strong>Teach?: </strong><%= @event.teach %></p>
                    <br>
                    <p><strong>Description:</strong></p>
                    <p><%= @event.description %></p>


                    <% if current_user.attendings?(@event) %>
                      <%= button_to event_attending_path(@event), class: "btn btn-default", method: :delete do %>
                        Can't Play <i class="glyphicon glyphicon-remove"></i>
                        <% end %>
                    <% else %>
                      <% if num_attending >= @event.players %>
                        <p>This Gamenight is full!</p>
                      <% else %>
                        <%= button_to event_attending_path(@event), class: "btn btn-default", method: :post do %>
                        Join this game! <i class="glyphicon glyphicon-ok"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                 
                     <p><strong>Players: </strong><% @event.attendings.each do |attend|%>

                          <%= attend.user.username%>
                        <% end %>
                     </p>



               
                </div>
         

        </div>
        <!-- /.container -->

</div>

<div id="event-map"></div>

<%= javascript_tag do %>
   latitude = '<%= j @event.latitude.to_s %>';
   longitude = '<%= j @event.longitude.to_s %>';
   address = '<%= j @event.address %>';
   game = '<%= j @event.game %>';
<% end %>

<%= button_to 'Back', events_path, method: :get, class: 'btn btn-default' %>

