<p id="notice"><%= notice %></p>


        <div class="container">

            <div class="row">
             
              
                <center><div class="col-md-7">

                    <% if @venue.venues_type == "Bar" %>
                        <%= image_tag('bar-icon.png') %>
                    <% elsif @venue.venues_type == "Brewery" %>
                        <%= image_tag('brewery-icons.png') %>
                    <% elsif @venue.venues_type == "Coffee Shop" %>
                        <%= image_tag('coffee-shop-icon') %>
              
                    <% end %>
                    
                </div></center>

               

                <div class="col-md-5">

               
                
                    <h2 class="section-heading"><%= @venue.name %></h2>
                    <p><strong>Venue Type: </strong><%= @venue.venues_type %></p>
                    <p><strong>Location: </strong><%= @venue.address %></p>
                    <p><strong>Phone: </strong><%= @venue.phone %></p>
                    <p><strong>Website: </strong><%= @venue.website %></p>
                    

                     
               
                </div>
         

        </div>
        <!-- /.container -->

</div>



<%= button_to 'Back', venues_path, method: :get, class: 'btn btn-default' %>
