<%= form_for(@game) do |f| %>
<% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
        <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :games_type%><br>
    <%= f.text_field :games_type, class: "form-control" %>
  </div>
   <div class="field form-group">
    <%= f.label :category %><br>
    <%= f.text_field :category, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :weight %><br>
    <%= f.text_field :weight, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :age %><br>
    <%= f.text_field :age, class: "form-control" %>
  </div>
    <div class="field form-group">
    <%= f.label :players %><br>
    <%= f.text_field :players, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :table_size %><br>
    <%= f.text_field :table_size, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control", rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

      