<% link_color = "#000000" %>

<p id="notice"><%= notice %></p>

<div id="map-canvas"></div>

<a  name="gamenight"></a>
<div class="container-fluid">
<br>
    <div class="port-header"><h2>Games!</h2></div>
    <br>
    <div class="row">

      <% @g.each do |game| %> 
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <% if game.games_type == "Table Top" || game.games_type == "Tabletop" %>
              <%= image_tag('tabletop-icon.png') %>
              <% link_color = "#970083" %>
            <% elsif game.games_type == "Card" || game.games_type == "Card Game" %>
              <%= image_tag('card-icon.png') %>
              <% link_color =  "#188cb2" %>
            <% elsif game.games_type == "Role Playing" || game.games_type == "RPG" %>
              <%= image_tag('rpg-icon.png') %>
              <% link_color =  "#ae2121" %>
            <% elsif game.games_type == "Board Game" || game.games_type == "Boardgame"%>
              <%= image_tag('board-game-icon.png') %>
              <% link_color =  "#009760" %>
            <% end %>
            <div class="caption">
              <h3><a href="#" style="color: <%= link_color %>" target="_blank"><%= game.title %></a></h3>
               <p class="lead"><%= game.category %></p>
                          <p><ul>
                              <li><%= game.games_type %></li>
                              <li><%= game.weight %></li>
                              <li>Age Rating: <%= game.age %></li>
                              <li>Players: <%= game.players %></li>
                              <li><%= game.table_size %></li>
                              <li><%= game.description[0...256] %>...
                                <%= link_to "Read More", game %>
                              </li>
                          </ul></p>
              <p><a href="#" class="btn btn-default" role="button" target="_blank">Host This Game</a></p>
            </div>
          </div>
        </div>
      <% end %>

       
    </div>
</div>



<%= link_to 'Back', games_path %>